<ion-header>
  <ion-navbar>
    <ion-title>Addresses</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item class="add-btn">
    <button (click)="addAddress()" ion-button block clear>
      <ion-icon name="ios-add"></ion-icon>&nbsp;&nbsp;
      Add Delivery Address</button>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-label>
        <span class="name">Daenerys Targaryen</span>
        <p>H/79, S4, Mugil Apartments, Thiruvanmiyur.</p>
      </ion-label>
      <ion-radio item-start color="dark" checked="true"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>
        <span class="name">Daenerys Targaryen</span>
        <p>H/79, S4, Mugil Apartments, Thiruvanmiyur.</p>
      </ion-label>
      <ion-radio item-start color="dark" checked="true"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>
        <span class="name">Daenerys Targaryen</span>
        <p>H/79, S4, Mugil Apartments, Thiruvanmiyur.</p>
      </ion-label>
      <ion-radio item-start color="dark" checked="true"></ion-radio>
    </ion-item>
  </ion-list>
  <footer>
    <button ion-button block>
      Delivery Here
    </button>
  </footer>
</ion-content>