<ion-header>
  <ion-navbar>
    <ion-title>Addresses</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item class="add-btn">
    <button (click)="addAddress()" ion-button block clear>
      <ion-icon name="ios-add"></ion-icon>&nbsp;&nbsp;
      Add Delivery Address</button>
  </ion-item>
  <form [formGroup]="selAddressForm">
    <ion-list radio-group *ngIf="address" formControlName = "selectedAddress" >
      <ion-item *ngFor="let key of objectKeys(address)">
        <ion-label>
          <span class="name">{{address[key].first_name}} {{address[key].last_name}}</span>
          <p>{{address[key].address_1}}, {{address[key].address_2}},
          {{address[key].city}}, {{address[key].state}} - 
          {{address[key].postcode}}</p>
        </ion-label>
        <ion-radio [value]="address[key]" item-start color="dark"></ion-radio>
      </ion-item>
    </ion-list>
  </form>
  <footer>
    <button ion-button block (click)="saveAddress()">
      Delivery Here
    </button>
  </footer>
</ion-content>