<ion-header>
  <ion-navbar>
    <ion-title>Add Address</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form [formGroup]="addressForm">
    <ion-item>
      <ion-label floating>
        <ion-icon name="ios-contact" item-start class="text-primary"></ion-icon>
        First Name
      </ion-label>
      <ion-input type="text" formControlName="first_name"></ion-input>
    </ion-item>
    <ion-item class="error" no-lines no-padding *ngIf="addressForm.controls.first_name.errors?.required && (addressFormSubmitted || addressForm.controls.first_name.dirty || addressForm.controls.first_name.touched)">
      <p ion-text text-wrap>Please Enter Your First Name</p>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon name="ios-contact" item-start class="text-primary"></ion-icon>
        Last Name
      </ion-label>
      <ion-input type="text" formControlName="last_name"></ion-input>
    </ion-item>
    <ion-item class="error" no-lines no-padding *ngIf="addressForm.controls.last_name.errors?.required && (addressFormSubmitted || addressForm.controls.last_name.dirty || addressForm.controls.last_name.touched)">
      <p ion-text text-wrap>Please Enter Your Last Name</p>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon name="ios-pin" item-start class="text-primary"></ion-icon>
        Door No &amp; Street Name
      </ion-label>
      <ion-input type="text" formControlName="address_1"></ion-input>
    </ion-item>
    <ion-item class="error" no-lines no-padding *ngIf="addressForm.controls.address_1.errors?.required && (addressFormSubmitted || addressForm.controls.address_1.dirty || addressForm.controls.address_1.touched)">
      <p ion-text text-wrap>Please Enter Door No. & Street Name</p>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon name="ios-pin" item-start class="text-primary"></ion-icon>
        Area/Locality
      </ion-label>
      <ion-input type="text" formControlName="address_2"></ion-input>
    </ion-item>
    <ion-item class="error" no-lines no-padding *ngIf="addressForm.controls.address_2.errors?.required && (addressFormSubmitted || addressForm.controls.address_2.dirty || addressForm.controls.address_2.touched)">
      <p ion-text text-wrap>Please Enter Area/Locality</p>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon name="ios-pin" item-start class="text-primary"></ion-icon>
        City
      </ion-label>
      <ion-input type="text" formControlName="city"></ion-input>
    </ion-item>
    <ion-item class="error" no-lines no-padding *ngIf="addressForm.controls.city.errors?.required && (addressFormSubmitted || addressForm.controls.city.dirty || addressForm.controls.city.touched)">
      <p ion-text text-wrap>Please Enter City</p>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon name="ios-pin" item-start class="text-primary"></ion-icon>
        State
      </ion-label>
      <ion-input type="text" formControlName="state"></ion-input>
    </ion-item>
    <ion-item class="error" no-lines no-padding *ngIf="addressForm.controls.state.errors?.required && (addressFormSubmitted || addressForm.controls.state.dirty || addressForm.controls.state.touched)">
      <p ion-text text-wrap>Please Enter State</p>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <ion-icon name="ios-pin" item-start class="text-primary"></ion-icon>
        Pincode
      </ion-label>
      <ion-input type="text" formControlName="postcode"></ion-input>
    </ion-item>
    <ion-item class="error" no-lines no-padding *ngIf="addressForm.controls.postcode.errors?.required && (addressFormSubmitted || addressForm.controls.postcode.dirty || addressForm.controls.postcode.touched)">
      <p ion-text text-wrap>Please Enter Pincode</p>
    </ion-item>
    
  </form>
  <footer>
    <button (click)="saveAddress()" ion-button block>Submit</button>
  </footer>
</ion-content>