<ion-header>
  <page-header></page-header>
</ion-header>
<ion-content>
  <div class="product-images">
    <div class="banner">
      <img src="{{baseURL}}src/assets/imgs/bg.jpg">
    </div>
    <div class="thumbnail">
      <img src="{{baseURL}}src/assets/imgs/bg.jpg">
      <img src="{{baseURL}}src/assets/imgs/bg.jpg">
      <img src="{{baseURL}}src/assets/imgs/bg.jpg">
    </div>
  </div>
  
  <div class="product-description">
    <div class="title">
      <h4>{{product.name}}</h4>
    </div>
    <div class="price">
      <span class="money">Rs. {{product.price}}</span>
      <span class="pack">&nbsp;/pack</span>
    </div>
  </div>
  <div class="input" *ngIf="product.attributes">
    <ion-list>
      <ion-item  *ngFor="let attr of product.attributes">
        <ion-label>{{attr.name}}</ion-label>
        <ion-select>
            <ion-option *ngFor="let op of attr.options">{{op}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <button ion-button item-left clear (click)="qtyUpdate('minus')">
          <ion-icon name="ios-remove"></ion-icon>
        </button>
        <ion-input type="text" [ngModel]="quantity" placeholder="qunatity">
        <button ion-button item-right clear (click)="qtyUpdate('add')">
          <ion-icon name="ios-add"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
  </div>
  <div class="pincode">
    <ion-item>
      <ion-label>Check your area availability</ion-label>
      <ion-input type="number" placeholder="Pincode" maxlength="6" ([ngModel])="pincode">
        <button class="pincode-btn" ion-button (click)="checkPincode()">Check</button>
    </ion-item>
  </div>
  <div class="short-description">
    <span [innerHTML]="product.short_description"></span>
  </div>
  
  <footer>
    <button ion-button class="cart-btn">Add to Cart</button>
    <button ion-button class="buy-btn">Buy Now</button>
  </footer>
</ion-content>
