<ion-header>
  <ion-navbar>
    <ion-title>Delivery</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-title>
        Delivery Address
      <ion-title>
    </ion-item>
    <ion-item class="product" *ngFor="let i of items.cartItems">
      <div class="product-desc">
        <ion-title>
          {{i.name}}
        </ion-title>
        <p class="price"><span class="rupee-icon lg"></span>{{i.price}}</p>
        <p class="delivery">Delivery in 7-8 days | Rs.50</p>
      </div>
      <div class="product-img">
        <img src="../../assets/imgs/bg.jpg">
          <select (change)="changeQty(i,$event)">
            <option selected value="">Qty: {{i.orderedQuantity}}</option>
            <option value="1">1</option><option value="2">2</option>
            <option value="3">3</option><option value="4">4</option>
            <option value="5">5</option><option value="6">6</option>
            <option value="7">7</option><option value="8">8</option>
            <option value="9">9</option><option value="10">10</option>
          </select>
      </div>
    </ion-item>
    <ion-item>
      <ion-title>
        Price Details
      <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col col-9>Price ({{items.totalItems}})</ion-col>
          <ion-col text-right col-3><span class="rupee-icon sm"></span>{{items.cartTotal}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-9>Delivery</ion-col>
          <ion-col text-right col-3><span class="rupee-icon sm"></span>0</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <footer  *ngIf="items.totalItems > 0">
    <p pull-left item-left><span class="rupee-icon lg"></span>{{items.cartTotal}}</p>
    <button ion-button pull-right item-right>Continue</button>
  </footer>
</ion-content>
