<ion-header>
  <ion-navbar>
    <ion-title>Delivery</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="items.totalItems > 0">
    <page-delivery-address></page-delivery-address>
    <page-product-list></page-product-list>
    <page-price-details></page-price-details>
  </ion-list>
  <div class="cart-empty" *ngIf="items.totalItems <= 0">
    <div class="img">
      <img src="../../assets/imgs/empty_cart.png">
    </div>
    <div class="shop-btn" (click)="continueShop()">
      <button ion-button>Continue Shopping</button>
    </div>
  </div>
  <footer class="cart-footer"  *ngIf="items.totalItems > 0">
    <p pull-left item-left><span class="rupee-icon lg"></span>{{items.cartTotal}}</p>
    <button ion-button (click)="gotoPayment()" pull-right item-right>Continue</button>
  </footer>
</ion-content>
