<ion-header>
  <ion-navbar>
    <ion-title>Delivery</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="items.totalItems > 0">
    <page-product-list></page-product-list>
    <page-price-details></page-price-details>
  </ion-list>
  <div class="cart-empty" *ngIf="items.totalItems <= 0">
    <div class="img">
      <img src="../../assets/imgs/empty_cart.png">
    </div>
    <div class="shop-btn" (click)="continueShop()">
      <button ion-button>Continue Shopping</button>
    </div>
  </div>
  <page-cart-footer></page-cart-footer>
</ion-content>
