product-images{
  div.product-images{
    max-height: 300px;
    overflow: hidden;
    padding: 10px;
    
    .banner{
      height:200px;
      margin-bottom: 10px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .thumbnail{
      img{
      width:20%;
      float: left;
      margin-right: 10px;
      }
    }
}
