page-what-we-deliver{
  h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
  }
  .farm-to-home{
    text-align: center;
  }
  .farm-to-home ion-label{
    text-transform: uppercase;
    font-weight: bold;
  }
  button.btn{
    background: #F90 !important;
  }
}