page-header{
  ion-badge{
    background: #f5a42b !important;
    border-radius: 50px !important;
    position: relative;
    top: -10px;
    right: 10px;
    font-size: 11px;
  }
  ion-icon{
    font-size: 20px !important;
  }
}